[submodule "ratoa_gamecode"]
	path = ratoa_gamecode
	url = git@github.com:EnzoGehlen/ratoa_gamecode.git
	branch = ratoa
[submodule "ratoa_assets"]
	path = ratoa_assets
	url = git@github.com:EnzoGehlen/ratoa_assets.git
	branch = master
